*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7em;
    color:#fff;
}
.header {
    height: 100vh;
    background-image: url(../img/pix1.png);  
    background-size: cover;
    background-position: top;
}
.nav-link {
    color: red;
    
}
 .navbar-brand {
    width: 98vw;
    position: absolute;
    top: 0;
}
.navbar-brand img {
    display: block;
    margin: auto;
}
.navbar-nav{
    padding-top: 280px;
    border-spacing: 10px;
}
.navbar{
    min-height: 150px;
}
.navbar-toggler {
    background-color:#1d2124 ;
} 
.navbar-nav li:nth-child(1) {
     float: left;
}
.navbar-nav li:nth-child(2) {
  float: left;
}
.text-box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading-primary-mini{
    font-family: 'Sedgwick Ave', cursive;
    display: block;
    text-align: center;
    font-size: 56px;
    font-weight: normal;
    color: #fff;
    letter-spacing: 3;
    line-height:15px ;
   }
.btn {
    background-color:#E7D36A ;
    border-radius: 50px ;
    color: #fff;
    text-transform: uppercase;
}
.paragraph {
  padding-left: 60px;
}
.main-text {
    color: #63444C;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
}
.mini-text {
    color: #63444C;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
}
.sub-text {
    color: #494949;
    font-size: 15px;
    line-height: 30px;
}
.contact{
    height: 100vh;
    width: -200px;
    background-image: url(../img/pix4.png);  
    background-color: rgba(51, 51, 51, 0.801);
    background-size: cover;
    background-position: top;
    background-blend-mode: darken; 
}
.main-one {
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
    padding: 150px 10px 0px 50px;
    /* padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 70px;
    margin-left: 20px;
    margin-top: 30px; */
}
.main-two {
    margin-left: 50px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #B6948F;
}
.main-sub{
    margin-left: 50px;
}
.mini-sub {
    padding-left: 70px;
}
.info {
    padding-top: 200px;
    padding-left: 40px;
}
.main-small {
    color: #B6948F;
}























































