*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7em;
    color:#fff;
}
#header {
    height: 100vh;
    width: 100%;
    background-image: url(../img/pix1.png);  
    background-size: cover;
    background-position: top;
}
.nav-link {
    color: #000;
    font-size: 20px;
    display: block;
    padding: 1px 5px;
    text-decoration: none;
}
 .navbar-brand {
    width: 98vw;
    position: absolute;
    top: 0;
}
.navbar-brand img {
    display: block;
    margin: auto;
}
.navbar-nav{
    padding-top: 80px;

}
.navbar{
    min-height: 150px;
}
 .navbar-toggler {
    background-color:#1d2124 ;
} 
.order:hover {
 color:#fff;
 background-color:#E7D36A; 
 border-radius:15px;
}
.order{
    float: none;
    display: inline-block;
}
.order:nth-child(1){
    float: left;
}
/* .navbar-nav li:nth-child(1) {
     float: left;
}
.navbar-nav li:nth-child(2) {
  float: left;
}  */
.text-box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading-primary-mini{
    font-family: 'Sedgwick Ave', cursive;
    display: block;
    text-align: center;
    font-size: 56px;
    font-weight: normal;
    color: #fff;
    letter-spacing: 3;
    line-height:15px ;
   }
.btn {
    background-color:#63444c ;
    border-radius: 50px ;
    color: #fff;
    text-transform: uppercase;
}
.btn:hover {
    color: #fff; 
    background-color: #E7D36A;
}
.paragraph {
  padding-left: 60px;
}
.main-text {
    color: #63444C;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
}
.mini-text {
    color: #63444C;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
}
.sub-text {
    color: #494949;
    font-size: 15px;
    line-height: 30px;
}
#contact {
    position: relative;
    height: 100vh;
    margin: 3px;
    background-image: url(../img/pix4.png);
    background-position: cover;
    box-sizing: border-box;
    background-color: #63444c;
    background-blend-mode: darken; 

}
.main-one {
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
    padding: 84px 10px 0px 50px;
    /* padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 70px;
    margin-left: 20px;
    margin-top: 30px; */
}
.main-two {
    margin-left: 50px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #B6948F;
}
.main-sub{
    margin-left: 50px;
}
.mini-sub {
    padding-left: 70px;
}
.info {
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 6px;
    margin-top: 90px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    /* margin-top: 3px;
    padding-top: 0;
    padding-left: 5px; */
}
.main-small {
    color: #B6948F;
}
.offers {
    padding-top: 10px;
    text-align: center;
    color: #000;
}
/* .container-fluid {
    padding-right: 15px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: 179px;
} */
/* .move {
    padding-left: 20px;
    margin-left: 50px;
} */
/* .move1{
    padding-top: 30px;
} */
/* .move2 {
    padding-top: 30px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 20px;
    margin-right: 0px;

} */
#disimg {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 0px; 
}
.box {
    position: relative;
    border: 1px solid #63444C;
    border-radius: 10px;
    color: #333;
    text-align: center;
    margin: 7px;
    padding: 4px;
}
.box {
    margin-top: auto;
}
.card-img-top{
    width: 30%;
    justify-content: center;
}
.testimony {
    position: relative;
    width: 100%;
    background: rgba(231, 211, 106, 0.46);
    background-size: cover;
    background-position: top;
    color: #000;
}
.main-word {
    padding-top: 60px;
}
.dept {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    color: #000;
    text-align: center;
}
.dept-text {
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
}
.card-img {
    position: relative;
    width: 80%;
    height: auto;
    justify-items: center;
    left: 20px;
}
.depts {
    width: auto;
    border: 1px solid rgba(9,0,0,1.125);
    border-radius: .25rem;
}
.title,
.mini-title,
.prize {
    color: #000;
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding-top: 4px;
}
 .footer-main {
     width: 100%;
     height: auto;
     margin: auto;
      background-image: url(../img/Mask\ Group1.png); 
      padding: 20px 0px;
 }
 .social-icons {
       width: 51%;
       height: auto;
       margin: auto;
 }
 .social-icons ul {
     margin: 10px;
     padding: 10px;
     text-align: center;
 }
 .social-icons ul li {
     display: inline-block;
     width: 40px;
     height: 36px;
     margin: 0px 10px;
     border-radius: 100%;
     background-color: #fff;
 }
 .social-icons ul li a{
     color: #E7D36A;
     font-size: 30px;
 }
 .social-icons ul li a i {
     line-height: 41px;
 }
 /* .inputwithicon{
     padding-left: 40px;
 }
 .inputwithicon {
     position: fixed;
 }
 .inputwithicon i {
    position: absolute;
    left: 0;
    top:8px;
    padding: 9px 8px;
 } */
 .news {
     text-align: center;
 }
 .form {
     width: 50%;
 }








 



























